// styles for the components provided by webbit
// the variables below are configurable via `@use 'webbit/components' with (...)`

@use 'sass:math'

@use 'base'

.webbit-sidebar
	@include base.flex-element
	flex-direction: row
	align-items: flex-start
	@include base.flex-sized
	width: 25%
	min-width: 80px
	max-width: 100%
	height: 100%
	background-color: #111111
.webbit-sidebar-resize-handle
	@include base.flex-item
	@include base.flex-sized
	touch-action: none
	width: 8px
	height: 10%
	border-radius: 3px
	align-self: center
	background-color: white
	cursor: col-resize
	&:hover
		filter: brightness(1.5)
.webbit-sidebar-internal
	@include base.flex-element
	@include base.flex-fill
	flex-grow: 1
.webbit-sidebar-controls
	@include base.flex-element
	flex-direction: row
	@include base.fill
	@include base.flex-fit-content
	align-items: start
	gap: 5px
.webbit-sidebar-control-button
	@include base.flex-item
	@include base.flex-sized
	width: 35px
	height: 35px
	border-radius: 15%
	margin: 10px
	background-color: red
.webbit-sidebar-control-title
	font-size: 45px
	padding: 28px 40px
	color: grey
.webbit-sidebar-content
	@include base.flex-element
	@include base.flex-fill
	flex-grow: 1

@mixin sidebar-view
	@include base.flex-element
	@include base.flex-fill
	flex-direction: column
	align-items: flex-start
	overflow-y: scroll
	scrollbar-color: #252525 #111111

$bar-gaps: 7px !default
.webbit-bar
	@include base.flex-element
	flex-direction: row
	@include base.flex-wrap
	width: 100%
	padding: $bar-gaps
	gap: 10px 25px
	background: #111111
.webbit-bar-group
	@include base.flex-element
	flex-direction: row
	@include base.flex-wrap
	gap: $bar-gaps
.webbit-bar-button
	@include base.flex-element
	// display: inline-flex
	@include base.flex-center-content
	padding: 6px 15px
	border-radius: 10px
	border: solid #444444 4px
	user-select: none
	&:hover
		filter: brightness(1.25)
	&:active
		filter: brightness(1.5)
	background: #444444
	color: #e1e1d9
.webbit-bar-accent-button
	@extend .webbit-bar-button
	background: #222222
	border-color: #222222
.webbit-bar-text
	@include base.flex-element
	font: 26px Arial, sans-serif
	padding: 6px 12px
	width: 270px
	border-radius: 6px

// TODO: revisit z-indices

$selection-padding: 50px !default
$selection-border-thickness: 2px !default
$selection-color: gray !default
$selection-opacity: 50% !default
$selection-z-index: 20 !default
@mixin selection-container
	position: absolute
	overflow: visible
	touch-action: none
.webbit-selection-frame
	@include selection-container
	z-index: $selection-z-index + 0
.webbit-selection-canvas
	@include base.canvas
	z-index: $selection-z-index + 1
	background-color: transparent
.webbit-selection-outline
	@include selection-container
	@include base.fill
	box-sizing: content-box
	padding: $selection-padding
	margin: -$selection-padding
	z-index: $selection-z-index + 2
.webbit-selection-border
	@include selection-container
	@include base.fill
	box-sizing: content-box
	border: dashed $selection-color $selection-border-thickness
	margin: -$selection-padding - $selection-border-thickness
	z-index: $selection-z-index + 3
	opacity: $selection-opacity
@mixin selection-control
	position: absolute
	touch-action: none
	z-index: $selection-z-index + 4
.webbit-selection-knob
	@include selection-control
	top: 50%
	left: 50%
	width: $selection-padding
	height: $selection-padding
	transform: translate(-50%, -50%)
	overflow: visible
@mixin selection-drag-button
	@include selection-control
	background-color: $selection-color
	opacity: $selection-opacity
.webbit-selection-move-button
	@include selection-drag-button
	@include base.fill
.webbit-selection-resize-button
	@include selection-drag-button
	bottom: 0
	right: 0
	width: math.floor(math.div($selection-padding, 2))
	height: math.floor(math.div($selection-padding, 2))

	// TODO: fix button position
$context-menu-z-index: 30 !default
$context-menu-border-radius: 4px !default
$context-menu-button-size: 45px !default
$context-menu-quick-button-size: 50px !default
$context-menu-gap: 5px !default
$context-menu-color: #111111 !default
$context-menu-opacity: 100% !default
.webbit-context-menu
	position: absolute // change to relative
	left: 50px + $context-menu-gap
	@include base.flex-element
	align-items: flex-start
	gap: $context-menu-gap
	z-index: $context-menu-z-index
.webbit-context-menu-quick-section
	@include base.flex-element
	flex-direction: row
	@include base.flex-fill
	gap: $context-menu-gap
.webbit-context-menu-section
	@include base.flex-element
	align-items: flex-start
	gap: 3px
	min-width: 100%
@mixin context-menu-button-base
	@include base.flex-element
	@include base.flex-center-content
	user-select: none
	border-radius: $context-menu-border-radius
	background-color: $context-menu-color
	color: #e1e1d9
	opacity: $context-menu-opacity
	&:hover
		filter: brightness(1.25)
	&:active
		filter: brightness(1.5)
.webbit-context-menu-button
	@include context-menu-button-base
	align-items: flex-start
	height: $context-menu-button-size
	padding: 0 20px
	min-width: 100%
.webbit-context-menu-quick-button
	@include context-menu-button-base
	width: $context-menu-quick-button-size
	height: $context-menu-quick-button-size
