// ---------------------------------------------------------------------
// ---------------------------------------------------------------------
// counteracts stupid defaults commonly set by the browser, electron, ..
// and gives a clean slate to start a new application/page
// (not suitable for integration into existing projects
// since it severely infringes global defaults)
// ---------------------------------------------------------------------
// ---------------------------------------------------------------------

body
	margin: 0 // default is 8; WHY???

// make root elements fill the screen by default
// NOTE: overflow is deliberately NOT set here.
// `overflow` on html/body propagates to the viewport and `hidden` disables document scrolling
// => that is the app's call to make depending on its' needs
// `base` provides element clipping for div,canvas instead
html, body
	width: 100%
	height: 100%
